In [71]:
from bs4 import BeautifulSoup
import pandas as pd

In [88]:
filePath = "bank-data.html"
file_object  = open(filePath) 
htmlText = file_object.read()
soup = BeautifulSoup(htmlText, 'html.parser')

In [104]:

def cleanHeaders(soup):
    data = []
    for table in soup.find_all("table"):
        if table.parent.name == "td":
            myTable =  table
    for row in myTable.find_all('tr'):
        if len(row.find_all('td')) == 8:
            current = []
            for col in row.find_all('td'):
                current.append(col.text)
            data.append(current)
    return data

def parseData(records):
    df = pd.DataFrame(data=clean,columns=clean[0])
    df = df[1:] 
    return df

def parseDates(df):
    def convert(s):
        ls = s.split()
        monthMap = {
            "Ene":"01",
            "Feb":"02",
            "Mar":"03",
            "Abr":"04",
            "May":"05",
            "Jun":"06",
            "Jul":"07",
            "Ago":"08",
            "Sep":"09",
            "Oct":"10",
            "Nov":"11",
            "Dic":"12",
        }
        months = monthMap.keys()
        for month in months:
            if month in s:
                s = s.replace(month,monthMap[month])
        return s
    df["FECHA"] = df["FECHA"].apply(convert)
    return df

def renameColumns(df):
    newCols = {
        "FECHA":"Date",
        "CONCEPTO":"Memo",
        "RETIRO":"Outflow",
        "DEPOSITO":"Inflow",
    }
    df = df.rename(columns=newCols)
    return df

def dropColumns(df):
    drop=[
        "HORA",
        "SUCURSAL",
        "SALDO",
        "REFERENCIA"
    ]
    df = df.drop(columns=drop)
    return df

def addPayee(df):
    payees = []
    for i in range(len(df)):
        payees.append("")
        
    df["Payees"] = payees
    return df

soup = BeautifulSoup(htmlText, 'html.parser')
clean = cleanHeaders(soup)
df = parseData(clean)
df = parseDates(df)
df = renameColumns(df)
df = dropColumns(df)
df = addPayee(df)
df.head()

,Date,Memo,Outflow,Inflow,Payees
1,12/09/2020,BENAV330360 GAR MONTERREY NL 0000000,696.01,,
2,12/09/2020,medicamentos,,700.00,
3,13/09/2020,Ensalada,100.00,,
4,14/09/2020,X99926,1000.00,,
5,15/09/2020,TU PLUS POR DOMICILIAR,,45.54,

In [105]:
df.to_csv("test.csv")

In [92]:
def convert(s):
    ls = s.split()
    monthMap = {
        "Ene":"01",
        "Feb":"02",
        "Mar":"03",
        "Abr":"04",
        "May":"05",
        "Jun":"06",
        "Jul":"07",
        "Ago":"08",
        "Sep":"09",
        "Oct":"10",
        "Nov":"11",
        "Dic":"12",
    }
    months = monthMap.keys()
    for month in months:
        if month in s:
            s = s.replace(month,monthMap[month])
    return s

df["FECHA"] = df["FECHA"].apply(convert)

In [93]:
df

,FECHA,HORA,SUCURSAL,CONCEPTO,RETIRO,DEPOSITO,SALDO,REFERENCIA
1,12/09/2020,21:32:12,0784,BENAV330360 GAR MONTERREY NL 0000000,696.01,,470.05,000021214
2,12/09/2020,22:36:00,7465,medicamentos,,700.00,1170.05,005725181
3,13/09/2020,13:53:16,3597,Ensalada,100.00,,1070.05,008569264
4,14/09/2020,11:20:06,0783,X99926,1000.00,,70.05,000000657
5,15/09/2020,00:41:57,7597,TU PLUS POR DOMICILIAR,,45.54,115.59,5V0BLTSXVM
...,...,...,...,...,...,...,...,...
301,11/12/2020,13:07:25,5234,DEPOSITO EN EFECTIVO ATM,,1000.00,1749.40,000000719119
302,11/12/2020,13:10:12,0784,SERV AGUA DREN MONTERREY 0000000,1630.00,,119.40,000001206
303,11/12/2020,20:30:16,0784,OXXO MONTES DE MERIDA YUC 0000000,79.00,,40.40,000001584
304,11/12/2020,22:01:30,3597,INVERSION VISTA A CHEQUES,,251.44,291.84,006648785
305,11/12/2020,22:09:34,0784,PAYPAL *UBERBV 35314369001 0009800,197.00,,94.84,000093450

In [64]:
len(link.find_all('td'))

8